{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<h1 class="text-center">Movie search</h1>
		<a href="/" class="btn btn-primary mb-3">Home</a>
		<h2 class="text-center font-weight-bold font-italic">Movie Details</h2>

		<!-- Displaying the details, using the if statement to make sure data is fetched -->

		{% if movie %} 
			<h5 class="text-center">{{ title }}</h5>
			<p>Plot: {{ plot }}</p>
			<p>Year: {{ year }}</p>
			<p>Type: {{ type }}</p>
			{% if flag %}
				<form action="/favorites-add" method="POST">
					<button class="btn btn-primary" type="submit">Add to Favorite <input type="hidden" name="title" value="{{ title }}"></button>
				</form>
			{% endif %}
		{% endif %}
	</div>
{% endblock content %}